<div id="slika-edit">
  <div id="profilna-div">
    <img src="{{putanja}}" id="profilna">
  </div>
  <div style="width:50%; float:right;" class="form-group">
    <label>Učitaj sliku</label>
    <input id="slika-file" (change)="ucitajSliku()" style="width:80%"  type="file" class="form-control"
    accept="image/jpeg">
  </div>
  <button [disabled]="!moguce_slanje" (click)="novaLozinka()" style="margin-top:50px;" class="btn btn-danger">Generisi novu lozinku</button>
</div>
<div id="forme">
<div id="forma-lijevo">
  <div class="form-group">
    <label>Ime</label>
    <input
           [(ngModel)] ="student.ime" type="text" class="form-control"  placeholder="Ime">
  </div>
  <div class="form-group">
    <label>Prezime</label>
    <input
           [(ngModel)] ="student.prezime" type="text" class="form-control" placeholder="Prezime">
  </div>
  <div class="form-group">
    <label>Datum rodjenja</label>
    <input [(ngModel)] ="datumRodjenja" type="date" class="form-control">
  </div>
  <div class="form-group">
    <label >Opstina rodjenja</label>
    <select [(ngModel)]="student.opstinaId" class="form-control" >
      <option *ngFor="let o of opstine" value="{{o.id}}">{{o.naziv}}</option>
    </select>
  </div>
  <div class="form-group">
    <label >Email</label>
    <input [(ngModel)]="student.email" type="email" class="form-control" placeholder="name@example.com">
  </div>
</div>
<div id="forma-desno">
  <div class="form-group">
    <label >Korisnicko ime</label>
    <input disabled [(ngModel)]="student.korisnickoIme" type="text" class="form-control" placeholder="ime.prezime">
  </div>
  <div class="form-group">
    <label >Broj indeksa</label>
    <input [(ngModel)]="student.brojIndeksa" type="text" class="form-control" placeholder="IB200000">
  </div>
  <div class="form-group">
    <label >Smjer</label>
    <select [(ngModel)]="student.smjerId" class="form-control" >
      <option *ngFor="let s of smjerovi" value="{{s.id}}">{{s.opis}}</option>
    </select>
  </div>
  <div class="form-group">
    <label >Godina studija</label>
    <input [(ngModel)]="student.godinaStudija" type="number" class="form-control" placeholder="1">
  </div>
  <div class="form-group">
    <button (click)="sacuvajStudenta()" style="position:relative; top:20px;"class="btn btn-primary">Save changes</button>
  </div>
</div>
</div>




